.modal-window {
  padding: 40px;

  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
  }
}

.modal-window__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: border-color var(--transition-time-and-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-window__close-icon {
  transition: fill var(--transition-time-and-function);

  .modal-window__btn-close:hover &,
  .modal-window__btn-close:focus & {
    fill: var(--accent-color);
  }
}
