body {
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
