:root {
  --accent-color: #2196f3;
  --header-logo-studio-color: #000000;
  --footer-logo-studio-color: #ffffff;

  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;

  --title-color: #212121;

  --icons-color: #afb1b8;

  --bg-features-icon-color: #f5f4fa;
  --bg-team-section-color: #f5f4fa;
  --filters-btn-bgcolor: #f5f4fa;
  --bg-team-card-color: #ffffff;

  --card-text-font-size: 16px;

  --transition-time-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
