.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border var(--transition-time-and-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  transition: fill var(--transition-time-and-function);
  fill: var(--icons-color);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
