.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .navigation {
//   display: flex;
//   align-items: center;
// }

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-right: 93px;
}

.page-header__logo--black {
  color: var(--header-logo-studio-color);
}

.menu-btn {
  background-color: transparent;
  line-height: 0;
}

.menu-btn__icon {
  transition: fill var(--transition-time-and-function);

  .menu-btn:hover &,
  .menu-btn:focus & {
    fill: var(--accent-color);
  }
}

.navigation__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
  }

  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

    transition: color var(--transition-time-and-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;

      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
  }

  .contacts__link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--transition-time-and-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  .menu-btn {
    display: none;
  }
}
